/* portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

  .main_icons {
    padding-left: 100px; 
    padding-top: 120px;
  }

  .main_icons img {
    padding: 20px;
  }

  div#index {
    background: url(../images/iPad/background_vertical.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  }
}


/* landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

  .main_icons {
    padding-left: 240px; 
    padding-top: 0px;
  }

  .main_icons img {
    padding: 20px;
    padding-left: 10px;
  }

  div#index {
    background: url(../images/iPad/background_horizontal.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  }
}
